*{
    padding: 0;
    margin: 0;
}
#container{
    width: 90%;
    height: 90%;
    background-color: #f0e4e4;
    border-radius: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}